:root {
  --row-height: 2rem;
  --item-height: 1.8rem;
  --input-height: 1.6rem;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add_margin {
  height: 4px;
  width: 9rem;
  border-right: 2px solid white;
}

.row {
  display: flex;
  width: 18rem;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: var(--row-height);
}

.row > h3 {
  transition: color 0.5s ease;
  cursor: pointer;
  border-right: 2px solid white;
  border-top: 1rem;
  width: 9rem;
  height: 100%;
  line-height: var(--row-height);
}

.row * {
  margin: 0px;
}

.row > div {
  width: 7rem;
}

.counter {
  display: flex;
  height: 80%;
  justify-content: space-between;
  align-items: center;
}

.counter > button {
  height: var(--item-height);
  width: var(--item-height);
  padding: 0;
  padding-bottom: 0.3rem;
  font-size: 1.1rem;
  background: white;
  border: 2px solid white;
  border-radius: 4px;
  color: black;
}

.counter > button:hover {
  cursor: pointer;
}

.counter > p {
  text-align: center;
  font-size: 1.1rem;
  line-height: var(--input-height);
  width: var(--input-height);
  height: var(--input-height);
  border: 2px solid white;
  border-radius: 4px;
}

.maunual_input {
  position: relative;
}

.manual_input > input {
  text-align: center;
  font-size: 1.3rem;
  width: 100%;
  height: var(--item-height);
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0px;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: textfield;
}

.manual_input > span {
  position: absolute;
  width: 7rem;
  justify-content: center;
  align-items: center;
  background: white;
  color: rgb(50, 50, 50);
  padding: 0.3rem 0;
  border-radius: 4px;
}

.binary_input > button {
  width: 100%;
  height: var(--item-height);
  font-size: 1.3rem;
  border: 2px solid white;
  padding: 0px;
  border-radius: 4px;
  transition: color 0.5s ease, background 0.5s ease;
}

.binary_input > button:hover {
  cursor: pointer;
}

.border_bottom {
  border-bottom: 2px solid white;
}

.border_top {
  border-top: 2px solid white;
}

.yahtzee_bonus_input {
  display: flex;
  justify-content: space-between;
}

.yahtzee_bonus_input > button {
  position: relative;
  height: var(--item-height);
  width: var(--item-height);
  border: 2px solid white;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.yahtzee_bonus_input > button > img {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main a {
  color: white;
}
