.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  width: 20rem;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 2.5rem;
}

.row > h3 {
  transition: color 0.5s ease;
  cursor: pointer;
  border-right: 2px solid white;
  border-top: 1rem;
  width: 10rem;
  height: 100%;
  line-height: 2.5rem;
}

.row * {
  margin: 0px;
}

.row > div {
  width: 8rem;
}

.counter {
  display: flex;
  height: 80%;
  justify-content: space-between;
  align-items: center;
}

.counter > button {
  height: 2rem;
  width: 2rem;
  padding: 0;
  padding-bottom: 0.25rem;
  font-size: 1.3rem;
  background: white;
  border: 2px solid white;
  border-radius: 4px;
  color: black;
}

.counter > button:hover {
  cursor: pointer;
}

.counter > p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  border: 2px solid white;
  border-radius: 4px;
}

.manual_input > input {
  text-align: center;
  font-size: 1.3rem;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0px;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: textfield;
}

.binary_input > button {
  width: 100%;
  height: 2rem;
  font-size: 1.3rem;
  border: 2px solid white;
  padding: 0px;
  border-radius: 4px;
  transition: color 0.5s ease, background 0.5s ease;
}

.binary_input > button:hover {
  cursor: pointer;
}

.border_bottom {
  border-bottom: 2px solid white;
}

.yahtzee_bonus_input {
  display: flex;
  justify-content: space-between;
}

.yahtzee_bonus_input > button {
  position: relative;
  height: 2rem;
  width: 2rem;
  border: 2px solid white;
  border-radius: 4px;
  text-align: center;
  transition: color 0.5s ease, background 0.5s ease;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  line-height: 2.3rem;
}

.yahtzee_bonus_input > button > img {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.main a {
  color: white;
}
